.env
.venv/

**/*zig-out/
**/*.zig-cache/
zig-pkg/

.direnv/

web/node_modules/

extension/dist
extension/node_modules
extension/build

extension-build

scripts/.venv
scripts/.mypy_cache

screenshot/node_modules

dist/
web/dist/

tmp/
