<!doctype html>
<html lang="en">

<script type="module">
	window.PASTE_ID = "{{ paste }}";
</script>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script type="module" crossorigin src="/assets/paste.js"></script>
	<link rel="stylesheet" href="/assets/paste.css" />
</head>
<style>
	body {
		margin: 0;
		background-color: black !important;
		color: white;
		font:
			12px "M+ 1c",
			sans-serif;
	}
</style>

<body>
	<div id="app"></div>
</body>

</html>
