@import "tailwindcss";
@custom-variant dark (&:where(body.dark, body.dark *));

body.dark {
  background-color: var(--color-zinc-950);
  color: white;
}

body.light {
    background-color: #F9F9F9 !important;
    color: black;
}
