@tailwind base;
@tailwind components;
@tailwind utilities;

p {
	word-wrap: break-word;
}

/* Mobile styles */
@media (max-width: 1158px) {
	body {
		font-size: 10px;
		/* Smaller font size for mobile */
	}

	.content-container {
		display: flex;
		flex-direction: column;
		/* side-content above main */
	}


	.side-content {
		display: flex;
		flex-direction: column;
	}
}

/* Desktop and larger tablets */
@media (min-width: 1159px) {
	body {
		font-size: 12px;
		/* Regular font size for larger devices */
	}

	.content-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		/* main above side-content */
	}

}

img.img-pokemon {
	/* width: 12vw; */
	/* min-width: 150px; */
	height: auto;
	/* max-width: 250px; */
	width: 150px;
}

body {
	margin: 0;
	background-color: black !important;
	color: white;
	font:
		12px "M+ 1c",
		sans-serif;
}

/* Common styles for all devices */
img.img-pokemon {
	height: auto;
}

main,
.side-content {
	margin: 0;
}

.extra {
	width: 200px;
	font-size: 14px;
}

.side-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 20px;
}

* {
	min-width: 0;
}

.type-normal {
	color: #a8a878;
}

.type-fighting {
	color: #c03028;
}

.type-flying {
	color: #a890f0;
}

.type-poison {
	color: #a040a0;
}

.type-ground {
	color: #e0c068;
}

.type-rock {
	color: #b8a038;
}

.type-bug {
	color: #a8b820;
}

.type-ghost {
	color: #705898;
}

.type-steel {
	color: #b8b8d0;
}

.type-fire {
	color: #f08030;
}

.type-water {
	color: #6890f0;
}

.type-grass {
	color: #78c850;
}

.type-electric {
	color: #f8d030;
}

.type-psychic {
	color: #f85888;
}

.type-ice {
	color: #98d8d8;
}

.type-dragon {
	color: #7038f8;
}

.type-dark {
	color: #705848;
}

.type-fairy {
	color: #ee99ac;
}

.gender-m {
	@apply text-sky-500;
}

.gender-f {
	color: #e82010;
}

.attr {
	color: #a0a0a0;
}

.stat-hp {
	color: #ff0000;
}

.stat-atk {
	color: #f08030;
}

.stat-def {
	color: #f8d030;
}

.stat-spa {
	color: #6890f0;
}

.stat-spd {
	color: #78c850;
}

.stat-spe {
	color: #f85888;
}

main,
.side-content {
	margin: 0
}

article {
	float: left;
}

article:nth-child(odd) {
	clear: left;
}

article>.paste {
	min-width: 400px;
	width: 25vw;
	margin: 10px 10px 0;
	font: 14px monospace;
	line-height: 1.45;
}

article {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin: 0;
}

div.img {
	position: relative;
	margin: 15px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

span.img-item {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 48px;
	/* Change this to the desired width */
	height: 48px;
	/* Change this to the desired height */
	background-size: 344px 1032px;
	/* Adjust the background size to 'auto' */
}
